/*RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/sfondo.jpg);
    background-size: cover;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


/*HEADER*/

#logo-trainline{
    width: 120px;
}

#button-user{
    background-color: #F1F4F4;
    padding: 5px;
    border-radius: 15px;
}

#button-user > span{
    margin-right: 10px;
}
/*MAIN*/

.subtitle-card{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

#ticket-menu-main{
    position: absolute;
    top: 15%;
    left: 5%;
}

.my-card{
    background-color: white;
    width: 400px;
    min-height: 500px;
    position: absolute;
    top: 20%;
    left: 10%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-small-flex-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.my-small-flex-container > label{
    font-size: 20px;
    margin-bottom: 10px;
}

#name{
    padding: 5px;
    width: 100px;
}

#km{
    padding: 5px;
    width: 100px;
}

#age{
    padding: 5px;
    width: 100px;
}

#ticket-button{
    text-align: center;
    border: none;
    background-color: #04A78F;
    border-radius: 10px;
    padding: 5px;
    color: white;
}